.box
{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.button
{
  display: flex;
  margin-right: 250px;
  padding: 20px 40px;
  font-size: 15px;
  color: #000000;
  font-style: oblique;
  font-weight: bold;
  background: rgb(255, 8, 8);
  border-radius: 50px;
  cursor: pointer;
}
